@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0px;
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #232020;
  padding: 5px 5px;
}

.font-type-1 {
  font-family: "Dosis", sans-serif;
}

.chat-box-wrapper {
  width: 100%;
  min-height: 58vh;
  border: 5px solid #232020;
  margin-top: 10px;
  padding: 10px 10px;
  max-height: 60vh;
  overflow-y: scroll;
}

.input-box-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-box-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-box-wrapper textarea {
  width: 95%;
  height: 80px;
  padding: 10px 10px;
  resize: none;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  overflow-y: scroll;
}

.input-box-wrapper input[type="submit"],
.input-box-wrapper button{
  width: 80px;
  height: 80px;
  background-color: #232020;
  color: white;
  font-size: 14px;
}

.enter-button {
  width: 120px; 
  height: 50px; 
  background-color: #232020;
  color: white;
  font-size: 14px;
}



.msg {
  margin-top: 10px;
}
